body {
    background-image: url("../images/background3.jpg");
    background-color: white;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#header {
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    padding: 30px;
    font-family: fantasy;

}

#timer {
    color: blue;
    text-align: center;
    font-family: cursive;
}

#q {
    color: crimson;
    text-align: center;
    font-family: cursive;
}

#result {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: fantasy;

}

#correctA {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: fantasy;
}

#answers {
    color: black;
    font-size: 20px; 
    float: center;
    font-family: cursive;

}

#a1 {
    width: 220px;
    padding: 20px;
    margin: 10px;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-style: solid;
    float: center;
    margin: 0 auto;
    cursor:pointer;


}
#a1:hover {background-color: rgba(255, 255, 0, 0.8)}

#a2 {
    width: 220px;
    padding: 20px;
    margin: 10px;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-style: solid; 
    float: center;
    margin: 0 auto;
    cursor:pointer;



}
#a2:hover {background-color: rgba(255, 255, 0, 0.8)}

#a3 {
    width: 220px;
    padding: 20px;
    margin: 10px;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-style: solid;
    float: center;
    margin: 0 auto;
    cursor:pointer;



}
#a3:hover {background-color: rgba(255, 255, 0, 0.8)}

#a4 {
  width: 220px;
  padding: 20px;
  margin: 10px;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-style: solid; 
  float: center;
  margin: 0 auto;
  cursor:pointer;



}
#a4:hover {background-color: rgba(255, 255, 0, 0.8)}



#startGame {
    display:block;
    width:20%;
    margin:0 auto;
    position:relative;
    text-align:center;
    cursor:pointer;
    background-color:crimson;
    opacity: .9;
    padding: 15px 32px;
    border: none;
    font-size: 20px;
    color: white;
    font-family: fantasy;

    border-style: solid;
  }
  #startGame:hover {opacity: 1}

#userResults {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;

}

#correctPic, #wrongPic {
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 253px;
    width: 450px;
}

